[submodule "themes/cleanwhite"]
  path = themes/cleanwhite
  url = "https://github.com/zhaohuabing/hugo-theme-cleanwhite.git"
[submodule "themes/themes/cleanwhite"]
	path = themes/themes/cleanwhite
	url = git@github.com:JosephCamarena/cleanwhite.git
